* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

.card img {
  height: 180px;
  width: auto;

  border-radius: 6px;
}

.card p {

  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

  padding-right: 10px;
  padding-left: 10px;
}

.card {
  height: fit-content;
  width: fit-content;

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
